body{
    box-sizing: border-box;
    margin: 0;
}

.board {
    display: grid;
    width: 30%;
    
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    
}

.square{
    border: 3px solid red;
    font-size: 30px;
}