body{
    box-sizing: border-box;
    margin: 0;
}
/*board is container */
.board {
    display: grid;
    width: 60%;
    
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    
}
.App{
    display: grid;
    grid-template-columns: 50% 50%;
}
/* square is items of board */
.square{
    border: 3px solid red;
    font-size: 30px;
}

.Chart{
    
    color: blue
}